<!DOCTYPE html>
<html ng-app="mySchedulerApp">
<head>
    <meta charset="utf-8">
    <title>Angular_Scheduler</title>
    <link rel="stylesheet" type="text/css" href="slider.css">
</head>
    
<body class="noselect">

    <div id="container">
        <header>
            <div class="logo">MMW</div>
        </header>
        <nav>
            <ul>
                <li><a href="">HOME</a><div class="triangle"></div></li>
                <li><a href="" class="tmp">스케줄러</a><div class="triangle"></div></li>
                <li><a href="">재고관리</a><div class="triangle"></div></li>
            </ul>
        </nav>

        <main>
            <div class="title">
                <div></div>
                <span>Scheduler</span>
            </div>

            <div class="content">
                <div id="scheduleTable" ng-controller="ScheduleTableCtrl">
                    <div class="table">
                        <table id="scheduler">
                            <tr>
                                <th>Time</th>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                                <th class="holiday">Sat</th>
                                <th class="holiday">Sun</th>
                            </tr>
                            <tr ng-repeat="row in rows">
                                <td>{{ row.time }}</td>
                                <td ng-class="{ selected : isSelected($index) }" ng-mousedown="active($index)"></td>
                                <td ng-class="{ selected : isSelected($index+rows.length) }" ng-mousedown="active($index+rows.length)"></td>
                                <td ng-class="{ selected : isSelected($index+rows.length*2) }" ng-mousedown="active($index+rows.length*2)"></td>
                                <td ng-class="{ selected : isSelected($index+rows.length*3) }" ng-mousedown="active($index+rows.length*3)"></td>
                                <td ng-class="{ selected : isSelected($index+rows.length*4) }" ng-mousedown="active($index+rows.length*4)"></td>
                                <td ng-class="{ selected : isSelected($index+rows.length*5) }" ng-mousedown="active($index+rows.length*5)"></td>
                                <td ng-class="{ selected : isSelected($index+rows.length*6) }" ng-mousedown="active($index+rows.length*6)"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="addEvent">
                        <input type="text" ng-model="employeeName" placeholder="이름" ng-keypress="addIfEnter($event)">
                        <button type="button" ng-click="addEvent()">addEvent</button>
                    </div>
                </div>

                <div id="EventList" ng-controller="EventListCtrl">

                    <span class="listName">Event List</span>

                    <div class="searchForm">
                        <input type="text" ng-model="searchKeyword" placeholder="검색할 내용을 입력하세요">
                    </div>

                    <ul>
                        <li ng-repeat="employee in employees | filter:searchKeyword">
                            <div class="employeePhoto">

                            </div>
                            <div class="employeeDetail">
                                {{ employee.name }}
                                {{ employee.workingTime }}시간<br>
                                {{ employee.totalPay }}원
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </main>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <!--<script src="js/angular.min.js"></script>-->
    <script src="module.js"></script>
    <script src="daypilot-all.min.js"></script>


</body>
</html>
