<!DOCTYPE html>
<html ng-app="mySchedulerApp">
<head>
    <meta charset="utf-8">
    <title>Angular_Scheduler</title>
    <link rel="stylesheet" type="text/css" href="slider.css">
</head>
    
<body class="noselect">
    <nav>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">Question 1</a></li>
            <li><a href="#">Question 2</a></li>
            <li><a href="#">Question 3</a></li>
        </ul>
    </nav>

    <input type="checkbox" id="toggle">
    
    <div id="container">
        <label for="toggle">
            <div id="navBtn">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </label>

        <main>

            <h1>Scheduler</h1>

            <div class="content">
                <div id="scheduleTable" ng-controller="ScheduleTableCtrl">
                    <div>
                        <daypilot-calendar id="week" daypilot-config="weekConfig" daypilot-events="events" ></daypilot-calendar>

                        <input type="date" ng-model="startTime"> <button ng-click="addEvent()">Add</button><br>

                        <button ng-click="moveEvent()">Move</button><br>

                        <input type="text" ng-model="renameTarget"> 을
                        <input type="text" ng-model="newEventName"> 으로
                        <button ng-click="renameEvent()">Rename</button>
                    </div>
                </div>


                <div id="EmployeeList">
                    <span class="listName">스케쥴러에 등록된 직원</span>

                    <div class="searchForm">
                        <input type="text" ng-model="searchKeyword" placeholder="검색할 내용을 입력하세요">
                    </div>

                    <ul ng-controller="EmployeeListCtrl">
                        <li ng-repeat="employee in employees | filter:searchKeyword">
                            <div class="employeePhoto">

                            </div>
                            <div class="employeeDetail">
                                {{ employee.name }}
                                {{ employee.time }}시간<br>
                                {{ employee.pay }}원
                            </div>
                        </li>

                        <li>
                            <div class="employeePhoto">

                            </div>
                            <div class="employeeDetail">
                                <input type="text" ng-model="employeeName" placeholder="이름" ng-keypress="addIfEnter($event)">
                                <input type="text" ng-model="workingTime" placeholder="근무시간" ng-keypress="addIfEnter($event)">
                                <button type="button" ng-click="add()" ng-keypress="addIfEnter($event)">add employee</button>
                </div>
                        </li>
                    </ul>


                </div>
            </div>
        </main>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <!--<script src="js/angular.min.js"></script>-->
    <script src="module.js"></script>
    <script src="daypilot-all.min.js"></script>


</body>
</html>
