<!DOCTYPE html>
<html ng-app="mySchedulerApp">
<head>
    <meta charset="utf-8">
    <title>Angular_Scheduler</title>
    <link rel="stylesheet" type="text/css" href="basic.css">
    <script>

        window.addEventListener("unload",function(){
            document.querySelector(".loadingPage").classList.remove("hidden");
            console.log("unload");
        });

        window.addEventListener("load",function(){
            document.querySelector(".loadingPage").classList.add("hidden");
            console.log("load");
        });

    </script>
</head>
    
<body class="noselect">

    <div class="loadingPage">
        <div class="loader"></div>
    </div>

    <div id="container">
        <header>
            <div class="logo">MMW</div>
        </header>
        <nav>
            <ul>
                <li><a href="index">HOME</a><div class="triangle"></div></li>
                <li><a href="scheduler.html" class="tmp">스케줄러</a><div class="triangle"></div></li>
                <li><a href="inventoryCtrl.html">재고관리</a><div class="triangle"></div></li>
            </ul>
        </nav>

        <main>
            <div class="title">
                <div></div>
                <span>Scheduler</span>
            </div>

            <div class="content">
                <div id="scheduleTable" ng-controller="ScheduleTableCtrl">
                    <div class="table">
                        <table id="scheduler">
                            <tr>
                                <th>Time</th>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                                <th class="saturday">Sat</th>
                                <th class="holiday">Sun</th>
                            </tr>
                            <tr ng-repeat="row in rows">
                                <td>{{ row.time }}</td>
                                <td ng-class="{ selected : isSelected($index) }" ng-mousedown="active($index)" ng-mouseover="over($index)" ng-mouseup="stopMouseDown()"></td>
                                <td ng-class="{ selected : isSelected($index+rows.length) }" ng-mousedown="active($index+rows.length)" ng-mouseover="over($index+rows.length)" ng-mouseup="stopMouseDown()"></td>
                                <td ng-class="{ selected : isSelected($index+rows.length*2) }" ng-mousedown="active($index+rows.length*2)" ng-mouseover="over($index+rows.length*2)" ng-mouseup="stopMouseDown()"></td>
                                <td ng-class="{ selected : isSelected($index+rows.length*3) }" ng-mousedown="active($index+rows.length*3)" ng-mouseover="over($index+rows.length*3)" ng-mouseup="stopMouseDown()"></td>
                                <td ng-class="{ selected : isSelected($index+rows.length*4) }" ng-mousedown="active($index+rows.length*4)" ng-mouseover="over($index+rows.length*4)" ng-mouseup="stopMouseDown()"></td>
                                <td ng-class="{ selected : isSelected($index+rows.length*5) }" ng-mousedown="active($index+rows.length*5)" ng-mouseover="over($index+rows.length*5)" ng-mouseup="stopMouseDown()"></td>
                                <td ng-class="{ selected : isSelected($index+rows.length*6) }" ng-mousedown="active($index+rows.length*6)" ng-mouseover="over($index+rows.length*6)" ng-mouseup="stopMouseDown()"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="outerPopup" ng-show="showPopup" ng-click="cancelEvent()">
                        <div class="innerPopup" ng-click="$event.stopPropagation()">
                            <input type="text" ng-model="employeeName" placeholder="이름">
                            <span ng-show="errorByName">이름을 입력하세요!</span>
                            <button type="button" ng-click="addEvent()">추가</button>
                            <button type="button" ng-click="cancelEvent()">취소</button>
                        </div>
                    </div>
                </div>

                <div id="EventList" ng-controller="EventListCtrl">

                    <span class="listName">Event List</span>

                    <div class="searchForm">
                        <input type="text" ng-model="searchKeyword" placeholder="검색할 내용을 입력하세요">
                    </div>

                    <ul>
                        <li ng-repeat="employee in employees | filter:searchKeyword">
                            <div class="employeePhoto">

                            </div>
                            <div class="employeeDetail">
                                {{ employee.name }}
                                {{ employee.workingTime }}시간<br>
                                {{ employee.totalPay }}원
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="outerGraph">
                    <div class="graph type1" ng-controller="barGraphCtrl">
                        <h3>svg를 이용한 bar chart</h3>
                        <svg width="380px" height="160px">

                            <g class="legend">
                                <line x1="0" y1="0" x2="0" y2="160px"></line>
                                <line x1="0" y1="160px" x2="380px" y2="160px"></line>
                                <line ng-repeat="line in legend" ng-attr-x1="{{line.x1}}" ng-attr-y1="{{line.y1}}" ng-attr-x2="{{line.x2}}" ng-attr-y2="{{line.y2}}"></line>
                            </g>

                            <g ng-repeat="bar in bargraph">
                                <rect x="0" ng-attr-y="{{bar.y}}" ng-attr-width="{{bar.width*30}}", ng-attr-height="{{bar.height}}"></rect>
                                <!--<rect x="0" ng-attr-y="{{$index*(bar.height+5)}}" ng-attr-width="{{bar.width*30}}", ng-attr-height="{{bar.height}}"></rect>-->
                                <text x="10" ng-attr-y="{{bar.y + (bar.height)/2 + 4}}" font-size="16">{{bar.name}}</text>
                                <div class="tooltip">{{bar.name}}은 {{bar.width}}시간 일했어요!</div>
                            </g>

                        </svg>
                    </div>

                    <div class="graph d3 bar">
                        <h3>D3.js를 이용한 bar chart</h3>

                    </div>

                    <div class="graph type1" ng-controller="barGraphCtrl">
                        <h3>svg를 이용한 line chart</h3>
                        <svg width="380px" height="160px">
                            <path id="lineBC" ng-attr-d="{{path.points}}" fill="white" fill-opacity=".2" stroke="white" stroke-width="1"></path>

                            <g class="legend">
                                <line x1="0" y1="0" x2="0" y2="160px"></line>
                                <line x1="0" y1="160px" x2="380px" y2="160px"></line>
                                <line ng-repeat="line in legend" ng-attr-x1="{{line.x1}}" ng-attr-y1="{{line.y1}}" ng-attr-x2="{{line.x2}}" ng-attr-y2="{{line.y2}}"></line>
                            </g>

                            <g ng-repeat="bar in bargraph">
                                <circle ng-attr-cx="{{bar.width*30}}" ng-attr-cy="{{bar.y + (bar.height)/2}}" r="5" fill="#F1A9A0"></circle>
                                <line x1="0" ng-attr-y1="{{bar.y + (bar.height)/2}}" ng-attr-x2="{{bar.width*30}}" ng-attr-y2="{{bar.y + (bar.height)/2}}"></line>
                                <text x="10" ng-attr-y="{{bar.y + (bar.height)/2 -4}}" font-size="16">{{bar.name}}</text>
                            </g>
                        </svg>
                    </div>

                    <div class="graph d3 line">
                        <h3>D3.js를 이용한 line chart</h3>

                    </div>

                    <div class="graph type1" ng-controller="pieChartCtrl">
                        <h3>svg를 이용한 pie chart</h3>
                        <svg width="380px" height="160px">
                            <g ng-repeat="pie in piechart">
                                <path ng-attr-d="{{pie.point}}" fill="#F1A9A0" stroke="white" stroke-width="2px" ng-attr-transform="{{pie.prevRad}}"></path>
                            </g>
                        </svg>
                    </div>

                    <div class="graph d3 pie">
                        <h3>D3.js를 이용한 pie chart</h3>

                    </div>

                </div>
            </div>

        </main>
    </div>

    <script src="jquery-1.11.3.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>

    <!--<script src="angular.min.js"></script>-->
    <script src="module.js"></script>
    <!--<script src="daypilot-all.min.js"></script>-->


</body>
</html>
