
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: lightgrey;
}

header {
    height: 50px;
    width: 1000px;
    background: white;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -500px;

    box-shadow: 0 0 3px;

    z-index: 10;
}

header div.logo {
    width: 100px;
    height: 100%;
    background: orange;
}



nav {
    background: #2c3e50;;
    color: white;
    height: 100%;
    width: 100px;

    display: block;
    position: fixed;
    top: inherit;
    left: inherit;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav a{
    padding: 5px;
    text-align: center;
    display: block;
    height: 50px;
    line-height: 50px;

    transition: color .1s ease-in-out, background .1s ease-in-out;
}

nav a:link, a:visited {
    text-decoration: none;
    color: #ECF0F1;
}

nav a:hover {
    background: #0c1e30;
}







#container {
    width: 1000px;
    height: 100%;
    margin: auto;
    background: #f8f8f8;

    margin-top: 50px;

    transition: left 0.5s ease-in-out;
    
    box-shadow: 0 0 3px;
}

#container main {
    text-align: center;
    padding: 10px;
    margin-left: 100px;
}

#container main .content{
    margin: 0 auto;
    display: inline-block;
    height: 1000px;
    width: 100%;
    position: relative;

}







/*Schedule Table Css*/

#scheduleTable {
    background: white;
    position: absolute;
    left: 0;
    width: 600px;
    height: auto;

    box-sizing: border-box;

    padding: 20px 10px ;
    border-radius: 10px;

    border: solid 3px gray;
    box-shadow: 3px 3px 5px;
}

#scheduleTable table {
    margin: auto;
    border-collapse: collapse;
}

#scheduleTable table th {
    width: 80px;
    height: 30px;

    border-bottom: solid 2px slategray;
}

#scheduleTable table td {
    background: white;
    height: 20px;
    padding: 3px 0;
}

#scheduleTable table td.selected {
    background: orangered;
}

#scheduleTable #popupBackground {
    height: 10000px;
    width: 10000px;
    background: black;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 1;
    opacity: 0.4;
}

#scheduleTable #popupAddEvent{
    width: 400px;
    height: 200px;
    background: white;

    box-shadow: 3px 3px 5px;

    position: fixed;
    left: 50%;
    top: 50%;

    margin: -100px 0 0 -200px;

    z-index: 2;
}

#scheduleTable .hidden {
    display: none;
}




/*Employee List Css*/

#EmployeeList {
    background: slategray;
    width: 200px;
    height: auto;
    border-radius: 10px;

    box-sizing: border-box;
    padding: 20px 0;
    margin: 0 0 0 10px;

    position: absolute;
    left: 600px;
}

#EmployeeList .listName{
    color: white;
    font-size: 15px;
}

#EmployeeList ul{
    padding-left: 0;
    width: 180px;
    margin: auto;
}

#EmployeeList .searchForm {
    display: inline-block;
    height: auto;
    width: 180px;
    background: white;

    border-radius: 10px;
    margin: 5px auto;
}

#EmployeeList .searchForm input[type=text] {
    width: 160px;
    height: 20px;
    border: none;
}

#EmployeeList .employeePhoto{
    display: inline-block;
    width: 40px;
    height: 100%;
}

#EmployeeList .employeeDetail{
    display: inline-block;
    width: 100px;
    height: 100%;

    border-left: solid 1px lightgray;
    padding-left: 5px;
}

#EmployeeList li{
    text-align: left;
    list-style: none;
    text-height: 5px;

    display: inline-block;
    height: auto;
    width: 180px;
    background: white;

    border-radius: 10px;
    margin: 3px 0;
    padding: 5px 0;
}

#EmployeeList button {
    margin-top: 10px;
}

#EmployeeList .employeeDetail input[type=text]{
    width: 100px;
}